<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.fruits.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="priv.fruits.pojo.Address">
    <!--@mbg.generated-->
    <!--@Table t_address-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="province_num" jdbcType="VARCHAR" property="provinceNum" />
    <result column="city_num" jdbcType="VARCHAR" property="cityNum" />
    <result column="county_num" jdbcType="VARCHAR" property="countyNum" />
    <result column="address_short" jdbcType="VARCHAR" property="addressShort" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
    <association property="userInfo" javaType="priv.fruits.pojo.User">
      <id column="uId" jdbcType="INTEGER" property="id" />
      <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
      <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ta.id, ta.user_id, ta.phone, ta.address_name, ta.province_num, ta.city_num, ta.county_num, ta.address_short, ta.is_default,
    tu.id uId, tu.user_email, tu.nick_name
  </sql>

  <!-- 查询所有数据 -->
  <select id="selectAllInfo" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM t_address ta
    INNER JOIN t_user tu on ta.user_id = tu.id
    <where>
      <if test="phone != null and phone != ''">
        phone = #{phone}
      </if>
      <if test="userId != null">
        AND user_id = #{userId}
      </if>
    </where>
  </select>

  <!-- 查询数据总数 -->
  <select id="selectAllCount" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM t_address ta
    INNER JOIN t_user tu on ta.user_id = tu.id
    <where>
      <if test="phone != null and phone != ''">
        phone = #{phone}
      </if>
      <if test="userId != null">
        AND user_id = #{userId}
      </if>
    </where>
  </select>

  <!-- 更新为不是默认地址 -->
  <update id="updateAddressNotDefault">
    UPDATE t_address
    SET is_default = '0'
    WHERE user_id = #{userId}
  </update>


</mapper>