<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.fruits.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="priv.fruits.pojo.Goods">
    <!--@mbg.generated-->
    <!--@Table t_goods-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="goods_price" jdbcType="INTEGER" property="goodsPrice" />
    <result column="goods_cost_price" jdbcType="INTEGER" property="goodsCostPrice" />
    <result column="goods_stock" jdbcType="INTEGER" property="goodsStock" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="disPrice" jdbcType="INTEGER" property="disPrice" />
    <result column="goods_head_img" jdbcType="VARCHAR" property="goodsHeadImg" />
    <result column="goods_keyword" jdbcType="VARCHAR" property="goodsKeyword" />
    <result column="goods_norms" jdbcType="VARCHAR" property="goodsNorms" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_name, goods_type, goods_price, goods_cost_price, goods_stock,
    goods_img, goods_head_img, goods_keyword, goods_norms, goods_status
  </sql>

  <select id="selectGoodsList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
         , (
          SELECT ROUND(goods_price * (discount / 10))
          FROM t_discount
          WHERE start_time &lt;= NOW()
         ) disPrice
    FROM t_goods
    WHERE is_delete = 0
        <!-- 状态参数不为空则根据状态查询 -->
        <if test="goodsStatus != null and goodsStatus != ''">
          AND goods_status = #{goodsStatus}
        </if>
        <if test="goodsName != null and goodsName != ''">
            AND (goods_name LIKE CONCAT('%', #{goodsName}, '%') OR goods_keyword LIKE CONCAT('%', #{goodsName}, '%'))
        </if>
        <if test="goodsStock != null">
            AND goods_stock = #{goodsStock}
        </if>
        <if test="goodsTypeId != null and goodsTypeId != -100">
            AND goods_type_id = #{goodsTypeId}
        </if>
  </select>

  <select id="selectInfoById" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
         , (
          SELECT ROUND(goods_price * (discount / 10))
          FROM t_discount
          WHERE start_time &lt;= NOW()
         ) disPrice
    FROM t_goods
    WHERE id = #{id}
  </select>

  <!-- 更新商品库存 -->
  <update id="updateStock">
    UPDATE t_goods
    SET goods_stock = goods_stock + #{goodsStock,jdbcType=INTEGER}
    WHERE id = #{id}
  </update>

  <update id="updateTypeNameByTypeId">
    UPDATE t_goods
    SET goods_type = #{typeName}
    WHERE goods_type_id = #{typeId}
  </update>
</mapper>