<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.fruits.mapper.GoodsTypeMapper">
  <resultMap id="BaseResultMap" type="priv.fruits.pojo.GoodsType">
    <!--@mbg.generated-->
    <!--@Table t_goods_type-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="goods_count" jdbcType="VARCHAR" property="goodsCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type_name, create_date
  </sql>

  <select id="getTypeInfoByGroup" resultMap="BaseResultMap">
    SELECT type_name, COUNT(1) AS 'goods_count', t.id id
    FROM t_goods_type t
    INNER JOIN t_goods g ON g.goods_type_id = t.id
    WHERE t.is_delete = 0 AND g.is_delete = 0 AND g.goods_status = 1
    GROUP BY type_name, t.id
    ORDER BY goods_count DESC
  </select>
</mapper>