<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.fruits.mapper.PurchaseDetailMapper">
  <resultMap id="BaseResultMap" type="priv.fruits.pojo.PurchaseDetail">
    <!--@mbg.generated-->
    <!--@Table t_purchase_detail-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="purchase_id" jdbcType="INTEGER" property="purchaseId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="purchase_price" jdbcType="INTEGER" property="purchasePrice" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="purchase_date" jdbcType="TIMESTAMP" property="purchaseDate" />
    <result column="total_price" jdbcType="INTEGER" property="totalPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, purchase_id, goods_id, purchase_price, `count`, purchase_date, total_price
  </sql>

    <update id="updateGoodsNameByGoodsId">
      UPDATE t_purchase_detail
      SET goods_name = #{goodsName}
      WHERE goods_id = #{goodsId}
    </update>
</mapper>