<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.fruits.mapper.PurchaseMapper">
  <resultMap id="BaseResultMap" type="priv.fruits.pojo.Purchase">
    <!--@mbg.generated-->
    <!--@Table t_purchase-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="purchase_id" jdbcType="VARCHAR" property="purchaseNum" />
    <result column="purchase_price" jdbcType="INTEGER" property="purchasePrice" />
    <result column="purchase_date" jdbcType="TIMESTAMP" property="purchaseDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, purchase_num, purchase_price, purchase_date
  </sql>
</mapper>